* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #1f2937;
}

.navbar {
    background: #2563eb;
    color: white;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 25px;
}

.welcome {
    margin-bottom: 30px;
}

.welcome h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.welcome p {
    color: #6b7280;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.card h3 {
    color: #6b7280;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 32px;
    color: #2563eb;
}

.applications {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 11px 18px;
    border-radius: 8px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #e5e7eb;
}

th {
    color: #6b7280;
}
.form-container {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background: #f4f7fb;
    border-radius: 10px;
}

.form-container input,
.form-container select {
    padding: 11px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.form-container button {
    display: block;
    margin-top: 5px;
}
.form-container input,
.form-container select {
    color: #1f2937;
    background: white;
}

#searchInput {
    width: 300px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
}